/*Main*/
.RPS{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 0 2rem;
    gap: 2rem;
}

.RPS-title{
    text-align: center;
    color: var(--react);
}

/*Info*/

.RPS-info{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    border: 2px solid var(--react);
    border-radius: 1rem;
    overflow: hidden;

    transition: border .3s ease;
}

.RPS-info-score{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 2rem; */
}

.RPS-info-score-puntuation{
    color: var(--white);
    font-size: 30rem;
    /* margin-bottom: 12rem; */
    opacity: .1;

    /* font-family: var(--secondary-font); */
    pointer-events: none;
}


.RPS-info-players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.RPS-info-versus{
    font-size: 5rem;
    font-family: var(--secondary-font);
}

.RPS-info-players-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.RPS-info-players-player h3{
    text-transform: uppercase;
}

.RPS-info-players-player h2{
    font-size: 15rem;
}

@media (width <= 768px) {
    .RPS-info-score{
        flex-direction: column;
    }

    .RPS-info-score-puntuation{
        font-size: 10rem;
    }

    .RPS-info-players{
        flex-direction: column;
        gap: 1rem;
    }

    .RPS-info-versus{
        font-size: 2rem;
    }

    .RPS-info-players-player h3{
        text-transform: uppercase;
        font-size: 1rem;
    }
    
    .RPS-info-players-player h2{
        font-size: 5rem;
    }

}


/*Movements*/

.RPS-movements{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.RPS-movements h2{
    font-family: var(--secondary-font);
}

.RPS-movements-options{
    display: flex;
    gap: 2rem;
}

.RPS-movements-options-button{
    width: 150px;
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;

    color: var(--white);
    background-color: #24242461;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 2px 0px var(--react);

    transition: box-shadow .3s ease;
}

.RPS-movements-options-button:hover{
    box-shadow: 0px 0px 10px 0px var(--react);

}

.RPS-movements-options-button i{
    font-size: 3rem;
}

@media (width <= 768px) {
    .RPS-movements h2{
        text-align: center;
    }
    
    .RPS-movements-options{
        display: flex;
        gap: 1rem;
    }
    
    .RPS-movements-options-button{
        width: 75px;
        padding: 1rem;
        border-radius: 10px;
    }
    
    .RPS-movements-options-button i{
        font-size: 2rem;
    }
}

/*Historial*/

.RPS-historial{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.RPS-historial h2{
    font-family: var(--secondary-font);
}

.RPS-historial-players{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.RPS-historial-players-player{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.RPS-historial-players-player-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}


.RPS-historial-players-player-box{
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 10px;
}


/*Winner*/
.RPS-winner-modal{
    min-width: 300px;
    min-height: 300px;
    background-color: #375b6c80;
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.RPS-winner-modal h1{
    font-family: var(--secondary-font);
    border-radius: 1rem;
    color: var(--react);
    text-align: center;

    animation: rainbow 15s ease infinite both;
}

.RPS-winner-modal h2{
    text-align: end;
}

.RPS-winner-modal-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.RPS-winner-modal-content-score, .RPS-winner-modal-content-move{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RPS-winner-modal-content-score h3, .RPS-winner-modal-content-move h3{
    color: var(--react);
}

.RPS-winner-modal-button{
    padding: 1rem 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #375b6c90;
    color: var(--white);

    transition: background-color .3s ease, color .3s ease;
}

.RPS-winner-modal-button:hover{
    background-color: var(--white);
    color: black;
}


/*Rules*/

.RPS-rules{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.RPS-rules h2{
    font-family: var(--secondary-font);
}

.RPS-rules-ul{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RPS-rules-ul-secondary{
    list-style-type: circle;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}