.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    background-color: var(--dark);
    padding: 1rem 2rem;
}

.footer-copy{
    color: var(--white);
}

.footer-copy span{
    color: var(--react);
}

.footer-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-social a{
    color: var(--white);
    transition: color .3s ease;
}
.footer-social a:hover{
    color: var(--react);
}